<h1 class="is-size-1 pb20">
  <%= link_to 'Closure table index', comments_path %>
</h1>

<div class="comments_container">
  <h2 class="is-size-2">コメント</h2>
  <section style="padding: 10px 0;">
    <%= render 'form', reply: @comment, url: comments_path %>
  </section>

  <section>
    <h3 class="is-size-3">コメント一覧</h3>
    <% @comments.each do |comment| %>
      <div>
        <%= render 'row', row: comment %>
      </div>
      <%= render 'replies', comment: comment %>
      <div>
        <%= render 'reply_form',
          comment: comment,
          reply: comment.replies.last,
          url: reply_comment_path(comment),
          focus: true
        %>
      </div>
    <% end %>
  </section>
</div>
